<!---------------------------->
<!--- CHANGE PASSWORD FORM --->
<!---------------------------->
<div class="password-form-container" id="password-page">
  <form
    method="POST"
    action="{{ url_for('admin.change_password') }}"
    class="password-form"
  >
    {{ data['password_form'].csrf_token(id = "£$£@34_432") }}
    <h2 class="head-title new-password">
      Change Password:<span class="close" id="close"
        ><i class="fa-solid fa-xmark"></i
      ></span>
    </h2>
    <div class="form-group">
      <p>
        <!-- ERROR MESSAGES -->
        {% for error in data['password_form'].current_password.errors %}
        <span class="comment-error">{{ error }}</span>
        {% endfor %}
        <!-- CURRENT LABEL -->
        {{ data['password_form'].current_password.label(class="form-label image-ul") }}<br />
        <!-- CURRENT INPUT -->
        {{ data['password_form'].current_password(class="form-control logging-input") }}
      </p>

      <p>
        <!-- ERROR MESSAGES -->
        {% for error in data['password_form'].new_password.errors %}
        <span class="comment-error">{{ error }}</span>
        {% endfor %}
        <!-- NEW LABEL -->
        {{ data['password_form'].new_password.label(class="form-label image-ul") }}<br />
        <!-- NEW INPUT -->
        {{ data['password_form'].new_password(class="form-control logging-input") }}
      </p>

      <p>
        <!-- ERROR MESSAGES -->
        {% for error in data['password_form'].confirm_password.errors %}
        <span class="comment-error">{{ error }}</span>
        {% endfor %}
        <!-- NEW LABEL -->
        {{ data['password_form'].confirm_password.label(class="form-label image-ul") }}<br />
        <!-- NEW INPUT -->
        {{ data['password_form'].confirm_password(class="form-control logging-input") }}
      </p>

      <p>
        {{ data['password_form'].submit_password(class="btn btn-password",
        id="btn-password") }}
      </p>
    </div>
  </form>
</div>
