<!------------------>
<!-- CONTACT FORM -->
<!------------------>
<form method="POST" class="contact-form">
  {{ form.hidden_tag() }} {% if form_title %}
  <h2 class="head-title solo form">{{ form_title }}</h2>
  {% else %}
  <h2 class="head-title solo form">Contact Us:</h2>
  {% endif %}
  <div class="form-group">
    <p>
      <!-- <span class="comment-error">Input error message</span> -->
      {% for error in form.first_name.errors %}
      <span class="comment-error">{{ error }}</span>
      {% endfor %} {{ form.first_name.label(class="form-label") }}<br />
      {{ form.first_name(placeholder="Enter your first name...", class="form-control") }}
    </p>
    <p>
      {% for error in form.last_name.errors %}
      <span class="comment-error">{{ error }}</span>
      {% endfor %} {{ form.last_name.label(class="form-label") }}<br />
      {{ form.last_name(placeholder="Enter your last name...", class="form-control") }}
    </p>
    <p>
      {% for error in form.email.errors %}
      <span class="comment-error">{{ error }}</span>
      {% endfor %} {{ form.email.label(class="form-label") }}<br />
      {{ form.email(placeholder="Enter your email...", class="form-control") }}
    </p>
    <p>
      {% for error in form.phone.errors %}
      <span class="comment-error">{{ error }}</span>
      {% endfor %} {{ form.phone.label(class="form-label") }}<br />
      {{ form.phone(placeholder="Enter your phone number...", class="form-control") }}
    </p>
    <p>
      {% for error in form.subject.errors %}
      <span class="comment-error">{{ error }}</span>
      {% endfor %} {{ form.subject.label(class="form-label") }}<br />
      {{ form.subject(placeholder="Reason for contact...", class="form-control") }}
    </p>
    <p>
      {% for error in form.details.errors %}
      <span class="comment-error">{{ error }}</span>
      {% endfor %} {{ form.details.label(class="form-label") }}<br />
      {{ form.details(placeholder="Message...", class="form-control text-area", rows=5) }}
    </p>

    <p class="form-recaptcha">
      {% for error in form.recaptcha.errors %}
      <span class="comment-error">{{ error }}</span>
      {% endfor %} {{ form.recaptcha(class="form-rc") }}
    </p>

    <p>{{ form.submit(class="btn") }}</p>
  </div>
</form>
