<div class="journey__sub-menu">
  <div
    class="journey {% if title == sub_menu['option1']['option'] %}sub-active{% endif %}"
  >
    <a href="{{ url_for(sub_menu['option1']['link']) }}"
      >{{ sub_menu['option1']['option'] }}<i class="fa-solid fa-angle-right"></i
    ></a>
  </div>
  <div
    class="journey {% if title == sub_menu['option2']['option'] %}sub-active{% endif %}"
  >
    <a href="{{ url_for(sub_menu['option2']['link']) }}"
      >{{ sub_menu['option2']['option'] }}<i class="fa-solid fa-angle-right"></i
    ></a>
  </div>
  <div
    class="journey {% if title == sub_menu['option3']['option'] %}sub-active{% endif %}"
  >
    <a href="{{ url_for(sub_menu['option3']['link']) }}"
      >{{ sub_menu['option3']['option'] }}<i class="fa-solid fa-angle-right"></i
    ></a>
  </div>
</div>
