<div class="journey__sub-menu {% if title[:5] == 'Admin' %}admin-nav{% endif %}">
  {% for item in sub_menu %}
  <!-- CHECK IF ADMIN MENU -->
  <div
    {%
    if
    current_user.is_authenticated
    %}
    class="journey {% if title == item['option'] or title == 'Admin - ' + item['option'] %}sub-active{% endif %} {% if data and data['has_new_reviews'] and item['option'] == 'Reviews'%}has-new{% endif %}"
    {%
    else
    %}
    class="journey {% if title == item['option'] %}sub-active{% endif %}"
    {%
    endif
    %}
  >
    <a href="{{ url_for(item['link']) }}"
      >{{ item['option'] }}<i class="fa-solid fa-angle-right"></i
    ></a>
  </div>
  {% endfor %}
</div>
