<!------------------>
<!-- CONTACT FORM -->
<!------------------>
<form method="POST" class="review-form">
  {{ form.hidden_tag() }}
  <h2 class="head-title solo review-form-head">Submit a review</h2>
  <div class="form-group">
    <p>
      <!-- <span class="comment-error">Input error message</span> -->
      {% for error in form.name.errors %}
      <span class="comment-error form-reviews">{{ error }}</span>
      {% endfor %} {{ form.name.label(class="form-label") }}<br />
      {{ form.name(placeholder="Enter your name...", class="form-control form-reviews") }}
    </p>
    <p>
      {% for error in form.email.errors %}
      <span class="comment-error form-reviews">{{ error }}</span>
      {% endfor %} {{ form.email.label(class="form-label") }}<br />
      {{ form.email(placeholder="(Will not be published)", class="form-control
      form-reviews", id="review-email-input") }}
    </p>
    <p>
      {% for error in form.details.errors %}
      <span class="comment-error">{{ error }}</span>
      {% endfor %} {{ form.details.label(class="form-label") }}<br />
      {{ form.details(placeholder="Review...", class="form-control text-area", rows=3) }}
    </p>

    <p class="form-recaptcha">
      {% for error in form.recaptcha.errors %}
      <span class="comment-error">{{ error }}</span>
      {% endfor %} {{ form.recaptcha(class="form-rc") }}
    </p>

    <p>{{ form.submit(class="btn form-reviews") }}</p>
  </div>
</form>
