{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}

<section class="about-section" style="margin-bottom: 6em;">
  <div class="link-container-text">
    <!-- <h1 class="head-title solo about">About Matt Lucas Driving School</h1> -->
  </div>
  <div class="about-info about">
    <div class="link-container-text">
      <div class="about-card">
        <div class="about-content">
          <h1 class="head-title solo about">About Matt Lucas Driving School</h1>
          <p class="lead">
            I have 28 years of experience in the retail sector, coaching new skills,
            processes, and behaviours to teams and individuals.
          </p>
          <p class="lead">
            I am passionate about coaching, and bring an ability to build a strong client/
            coach relationship to enhance the learning experience
          </p>
          <h2 class="title">Matt</h2>
          <h3 class="head-title solo about-ul">Choose us because...</h3>
          <ul class="journey-list-items">
            <li class="app_item lg">
              Client centred coaching style, tailored to the needs of the individual
              student
            </li>
            <li class="app_item lg">
              Strong interpersonal skills, enhancing the individual learning experience
            </li>
            <li class="app_item lg">
              28 years experience of coaching and developing</li>
          </ul>
        </div>
        <div class="about-img">
          <img
            src="{{ url_for('static', filename='img/matt_about.jpg') }}"
            alt="Matt Lucas"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<h2 class="pre-footer-message wow bounceIn">
  Learning is more effective when it is an active, rather than a passive process.
</h2>

{% endblock content %}
