{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}

<section class="admin-section">
  <div class="provisional-info admin">
    <div class="link-container-text">
      <h2 class="head-title solo admin">
        <a 
          href="{{ url_for('admin.admin', user_id=current_user.id) }}"  
          class="admin__username">
          {{ user.name | title }}:</a
          > Home 
        <span class="admin-logout"
          ><a href="{{ url_for('admin.logout') }}"> - Logout</a></span
        >
      </h2>

      {% include '_admin_nav.html' %}
    </div>
  </div>

  <div class="link-container-text admin__nav">{% include '_journey_sub-menu.html' %}</div>

  <!-- REVIEWS -->
  <div class="link-container-text admin">
    <div class="admin__reviews-section">
      <div class="admin__reviews-to-approve">
        <h2>Reviews for approval: ({{ reviews | length }})</h2>
        {% for review in reviews %}
     
        <div class="admin_review">
          <div class="admin__review-head">
            <p class="admin_review_date">
              <span>Created on:</span> {{ review.creation_date.strftime('%d-%m-%Y') }} @
              {{ review.creation_date.strftime('%H:%M') }}
            </p>
            <div class="review-contact">
              <p class="admin_review_name"><span>Name:</span> {{ review.name }}</p>
              <p class="admin_review_email"><span>Email:</span> {{ review.email }}</p>
            </div>
          </div>
          <p class="admin_review_review"><span>Review:</span> {{ review.review }}</p>

          <!-- OPTIONS -->
          <div class="review_options">
            <a
              href="{{ url_for('reviews.approve_review', review_id=review.id) }}"
              class="review_approve"
              >Approve</a
            >
            |
            <a
              href="{{ url_for('reviews.delete_review', review_id=review.id) }}"
              class="review_delete"
              >Delete</a
            >
          </div>
        </div>
  
        {% endfor %}

      </div>
  </div>
  <!-- REVIEWS - END -->

  <!-- USER_ACTIVITY -->
    <div class="admin__activity-section">
      <div class="admin__user-activities">
        <h2>Recent Activity:</h2>
        <div class="activity_content">
          {% set count = namespace(value=0) %}
          {% for activity in activities | reverse %}
          {% if count.value < 10  %}
          <div class="activity">
            <p class="admin_activity_date"><span>Date:</span> {{ activity.creation_date.strftime('%d-%m-%Y') }} @ {{
              activity.creation_date.strftime('%H:%M') }}</p>
            <p class="admin_activity_activity">
              {% set activity_split = activity.activity.split(':') %}
              <!-- CHECK IF IMAGE -->
              {% if "img_" in activity.activity %}
                {% set img_path = activity_split[1] | trim %}
                <div class="activity_image">
                  <span>{{ activity_split[0] | trim }}:</span><br />
                  <a href="http://127.0.0.1:8000/static/img/gallery/{{ img_path }}" target="blank">{{ img_path }}</a>
                  <img src="{{ url_for('static', filename='img/gallery/' + img_path) }}" alt="gallery_image">
                </div>
              {% else %}
                <span>{{ activity_split[0] }}: </span><br/>{{ activity_split[1] }}
              {% endif %}
            </p>
            <br />
          </div>
          {% elif count.value == 10 %}

          <div class="admin_activity-all">
            <a href="{{ url_for('admin.activities', user_id=user.id) }}">View all Activities ({{ activities | length }})</a>
          </div>
          {% endif %}
          {% set count.value = count.value + 1 %}
          {% endfor %}
        </div>
      </div>
    </div>
  <!-- USER_ACTIVITY - END -->

  <div class="img-upload">{% include '_add_image.html' %}</div>
  <div class="img-upload">{% include '_change_password.html' %}</div>

  <h2 class="pre-footer-message go-top">
    <a href="#page-top">Back to top <i class="fa-solid fa-arrow-up"></i></a>
  </h2>
</section>

{% endblock content %}
