{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}

<section class="eligibility-section">
  <div class="link-container-text">{% include '_journey_sub-menu.html' %}</div>
  <div class="provisional-info elegibility">
    <div class="link-container-text j-section">
      <h1 class="head-title solo">Provisional Licence</h1>
      <p class="lead">
        Before you can start learning to drive on the roads, you must hold a UK
        provisional driving licence.
      </p>
      <p class="lead">
        You can apply for this in person at your local post office, or
        <a
          href="https://www.gov.uk/apply-first-provisional-driving-licence"
          target="blank"
          class="text-link"
          >online</a
        >.
      </p>
      <p class="lead">
        Once you have received your provisional licence, you will be legally eligible to
        start driving from your 17th birthday onwards.
      </p>
      <p class="lead">
        On your first lesson, you will need to bring your provisional license along with a
        <a
          href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency"
          target="blank"
          class="text-link"
          >DVSA</a
        >
        code which proves your entitlement to drive.<br /><br />
        You will also need to be able to read a new-style number plate from 20 metres, or
        an old-style number plate from 20.5 metres. (Please check the legal eyesight
        requirements
        <a
          href="https://www.gov.uk/driving-eyesight-rules"
          target="blank"
          class="text-link"
          >here</a
        >)
      </p>
    </div>
  </div>
  <div class="link-container-text licence_app">
    <div class="licence_application">
      <div class="eligibility_img">
        <img
          src="{{ url_for('static', filename='img/paperwork.jpeg') }}"
          alt="paper driving license"
        />
      </div>
      <div class="eligibility_txt">
        <h3 class="sub-title elegibitiy wow fadeInLeftBig">
          Requirements for applying for your provisional licence:
        </h3>
        <ul class="journey-list-items elegibility">
          <li class="app_item app wow fadeInLeft">
            You can apply 3 months before you turn 17, but you need to wait until your
            birthday before you can drive on the road
          </li>
          <li class="app_item app wow fadeInRight">
            You'll need a valid proof of identification
          </li>
          <li class="app_item app wow fadeInLeft">You must live in the UK</li>
          <li class="app_item app wow fadeInRight">
            You will need to provide all the addresses you have lived for the last 3 years
          </li>
          <li class="app_item app wow fadeInLeft">
            You can't be prevented from driving for any reason
          </li>
          <li class="app_item app wow fadeInRight">
            The
            <a
              href="https://www.gov.uk/driving-licence-fees"
              target="blank"
              class="text-link"
              >cost</a
            >
            will be £34 if paid online, or £43 if applying by post
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END OF LICENCE_APPLICATION -->
  <h2 class="pre-footer-message wow bounceIn">
    Please wear sensible shoes and clothing for your lessons.<br />
    This allows you to drive safely without distractions.
  </h2>
</section>

{% endblock content %}
