{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}

<section class="faq-section">
  <div class="provisional-info faqs">
    <div class="link-icon"><i class="fa-solid fa-question fa-1xl"></i></div>
    <div class="link-container-text">
      <h1 class="head-title faq-page">FAQs</h1>
      <div class="faq-title-img">
        <img
          src="{{ url_for('static', filename='img/question-mark.png') }}"
          alt="Question Mark"
        />
      </div>
    </div>
  </div>
  <div class="page__bg">
    <div class="link-container-text faq">
      <!-- ACCORDION FOR FAQ'S -->
      <div class="accordion">
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            When can I start driving lessons?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              You can legally start driving on the roads with an instructor, or legally
              eligible adult, once you have reached the age of 17 and possess a UK
              Provisional Driving License.
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            How many lessons will I need?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Learning to drive can be a variable procces. Everyone is different,
              therefore there is no specific answer. The recommended average is between 35
              and 40 hours of professionally tutored lessons, however, everyone learns at
              their own pace and in their own way. After a few lessons, we can begin to
              make an informed prediction based on your individual performance and
              capacity to learn.
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            How much will it cost? <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              This will vary by individual. The overall cost will depend on the number of
              hours of lessons you take, and the effort you put into them, as well as how
              many times you may need to take the Theory and Practical tests. We endeavour
              to make the process as economical as possible by making the most out of the
              lessons you recieve by tailoring them to your individual strengths &
              weaknesses, and building on your skills as you progress. For details of our
              current prices,
              <a href="{{ url_for('core.standard') }}" class="text-link"
                >please see the section on pricing.</a
              >
              Details of the current fees for tests and a provisional licence can be found
              in the section labelled, "Your Journey."
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            How long will lessons take?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Each lesson will be a minimum of one hour, however, it will be possible to
              book lessons that last a longer period of time.
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            Should I learn manual or automatic?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              This is entirely up to you, however we would encourage you to learn to drive
              a manual vehicle. You can transfer these skills to driving an automatic very
              easily as the main difference is that the vehicle will change gears for you.
              The rest of the skills needed are essentially the same.<br /><br />
              If you learn only to drive an automatic, you will not legally be allowed to
              drive a manual transmission vehicle. This can significantly limit your
              choices when purchasing your own car or hiring vehicles in future.<br /><br />
              We only offer new driver lessons using a manual transmission car, but can
              provide refresher lessons in an automatic if you supply your own vehicle.
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            How will you know when I'm ready to take the practical test?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              We will assess your performance with our Learner Progress Logs which we use
              to track your progress. We ensure that we meet data protection laws and keep
              each seperate learner's files private and confidential.
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            How can I pay for my lessons?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              We will happily accept Cash or Bank Transfers as suitable payment for
              lessons and courses.
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            Will I use my instructor's car on the practical test?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              It is advised that you use the instructor's car during the practical test,
              we also suggest that you book a lesson before the test so that you can go
              over anything that you may be unsure of and settle your nerves ahead of
              time.
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            Once I've passed the theory test, how long is this valid for?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Once you have completed and passed your theory test, this is valid for up to
              two years from the date you passed it.
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            What if I need to cancel or rearrange a driving lesson?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              If you need to cancel or rearrange a booked lesson, please feel free to
              <a href="{{ url_for('core.contact') }}" class="text-link">contact us</a> and
              we will be happy to cancel or re-schedule another booking.
            </div>
          </div>
        </div>
        <!-- ACC ITEM -->
        <div class="accordion-item">
          <div class="accordion__label">
            Will I be charged for missing a lesson at short notice?
            <span><i class="fa-solid fa-angle-down"></i></span>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              It is important that if you need to cancel a booking, you must do so
              <strong>36 hours</strong>
              prior to the lesson, otherwise you will be charged as this time could be
              used to provide a lesson to other learners.
            </div>
          </div>
        </div>
        <!-- END OF ACCORDION -->
      </div>
    </div>
  </div>

  <div class="link-container-text">
    <h2 class="pre-footer-message">
      For any information, please give us a call or
      <a href="{{ url_for('core.contact') }}" target="blank" class="text-link nr"
        >contact us</a
      >
    </h2>
  </div>

  <!-- END OF LICENCE_APPLICATION -->
</section>

{% endblock content %}
