{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}

<section class="price_intense-section">
  <div class="link-container-text">{% include '_journey_sub-menu.html' %}</div>
  <div class="provisional-info price">
    <div class="link-container-text price-head">
      <h1 class="head-title price">Intensive Plan (TBC)</h1>
      <span class="car-icon"><i class="fa fa-car"></i></span>
    </div>
  </div>
  <div class="link-container-text">{% include '_contact_form.html' %}</div>

  <h2 class="pre-footer-message price">Message Here...</h2>
</section>

{% endblock content %}
