{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}

<section class="practical-section">
  <div class="link-container">{% include '_journey_sub-menu.html' %}</div>
  <div class="provisional-info">
    <div class="link-container">
      <h1 class="head-title">Practical shit here</h1>
      <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, fugit?
      </p>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, optio
        neque consectetur quos est quaerat nam ea quisquam fuga.
      </p>
      <p class="lead">
        Once you have recieved your provisional licence, you will be legally eligble to
        start driving.
      </p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat neque et tempore recusandae quos suscipit!
      </p>
    </div>
  </div>
</section>

<h2 class="pre-footer-message">More text here...</h2>

{% endblock content %}
